<!DOCTYPE html>
<html>
<head>
  <title>Racquet Reviews</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <header>
      <h1>Racquet Review Hub</h1>
      <nav>
        <a href="{{ url_for('index')}}">Home</a> |
        <a href="{{ url_for('reviews')}}">Read Reviews</a> |
        <a href="{{ url_for('create')}}">Create a Review</a>
      </nav>
    </header>
    <main>
      {% block container %}{% endblock %}
    </main>
    <footer>
      <p>© 2024 Racquet Reviews. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
