{% extends 'base.html' %}

{% block container %}
<h2>Edit Your Review</h2>
<form method="POST" action="{{ url_for('edit_post', mongoid=doc._id) }}">
  <p>Your Name: <input type="text" id="name" name="name" value="{{ doc.name }}" required><br></p>
  <p>Review Title: <input type="text" id="title" name="title" value="{{ doc.title }}" required><br></p>
  <p>Your Review: <textarea id="review" name="review" required>{{ doc.review }}</textarea></p>
  <button type="submit">Save Changes</button>
  <a href="{{ url_for('reviews')}}">Cancel</a>
</form>
{% endblock %}
